apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infra
  namespace: flux-system
spec:
  interval: 5m
  path: ./flux/infra
  prune: true
  timeout: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system