---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: immich
  interval: 30m
  path: ./kubernetes/apps/immich
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: storage
  postBuild:
    substitute:
      NAMESPACE: immich
      DOMAIN: ${DOMAIN}
      TIMEZONE: ${TIMEZONE}
