---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media-stack
spec:
  interval: 30m
  chartRef:
    kind: HelmRepository
    name: truecharts
    namespace: flux-system
  values:
    metrics:
      main:
        enabled: false
    ingress:
      main:
        enabled: true
        ingressClassName: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: traefik-authelia-forwardauth@kubernetescrd
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.tls.certresolver: myresolver
        hosts:
          - host: ${HOSTNAME}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - ${HOSTNAME}
    persistence:
      config:
        enabled: true
        storageClass: ${LONGHORN}
        size: 5Gi
      media:
        enabled: true
        existingClaim: media-pvc
        mountPath: /media
      downloads:
        enabled: true
        existingClaim: downloads-pvc
        mountPath: /downloads
