---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ftb-stoneblock-4
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/apps/games/ftb-stoneblock-4/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
