---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tandoor
  namespace: tandoor
spec:
  interval: 30m
  chartRef:
    kind: HelmRepository
    name: bjw-s-charts
    namespace: flux-system
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.4.1
            env:
              TZ: ${TIMEZONE}
              ALLOWED_HOSTS: "${HOSTNAME},tandoor.tandoor,tandoor,localhost"
              SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: tandoor-secret
                    key: TANDOOR_SECRET_KEY
              ENABLE_SIGNUP: "0"
              ENABLE_PDF_EXPORT: "1"
              DB_ENGINE: "django.db.backends.postgresql"
              POSTGRES_HOST: "tandoor-postgresql-primary.tandoor.svc.cluster.local"
              POSTGRES_PORT: "5432"
              POSTGRES_DB: "tandoor"
              POSTGRES_USER: "tandoor"
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: tandoor-secret
                    key: DB_PASSWORD
              SUPERUSER_NAME: "admin"
              SUPERUSER_EMAIL: "xd@pxldi.de"
              SUPERUSER_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: tandoor-secret
                    key: DB_PASSWORD
    resources:
      main:
        containers:
          main:
            limits:
              memory: "1Gi"
              cpu: "1"
            requests:
              memory: "512Mi"
              cpu: "250m"
    service:
      main:
        controller: main
        ports:
          http:
            port: 80
    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.tls.certresolver: myresolver
        hosts:
          - host: ${HOSTNAME}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - ${HOSTNAME}
    persistence:
      mediafiles:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: ${LONGHORN_DUAL}
        globalMounts:
          - path: /opt/recipes/mediafiles
      staticfiles:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 2Gi
        storageClass: ${LONGHORN}
        globalMounts:
          - path: /opt/recipes/staticfiles
