---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
  namespace: metallb-system
spec:
  interval: 30m
  chart:
    spec:
      chart: metallb
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    speaker:
      frr:
        enabled: false
      rbac:
        create: true
      nodeSelector: {}
      tolerations: []
      securityContext:
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 999
      resources: {}
    controller:
      rbac:
        create: true
      nodeSelector: {}
      tolerations: []
      securityContext:
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 999
      resources: {}
