---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: metallb
      app.kubernetes.io/component: network
  interval: 30m
  path: ./network/metallb/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: metallb-system
  wait: true
  postBuild:
    substitute:
      APP: metallb
