---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: default
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: default
  interval: 30m
  path: ./default
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substitute:
      NAMESPACE: default
      DOMAIN: ${DOMAIN}
