apiVersion: v1
kind: ConfigMap
metadata:
  name: minecraft-stoneblock4-values
  namespace: minecraft
data:
  values.yaml: |
    minecraftServer:
      eula: true
      version: "1.21.1"
      type: "FTBA"
      ftbModpackId: 130
      memory: 12288M

      serviceType: LoadBalancer
      loadBalancerIP: 192.168.0.201
      servicePort: 25565

      extraEnv:
          - name: RCON_PASSWORD
            valueFrom:
              secretKeyRef:
                name: minecraft-rcon-secret
                key: RCON_KEY
    
      rcon:
        enabled: true
        existingSecret: minecraft-rcon-secret
        secretKey: RCON_KEY

    persistence:
      storageClass: "longhorn-ssd-no-replica"
      dataDir:
        enabled: true
        Size: 30Gi
    
    serviceAnnotations:
        metallb.universe.tf/allow-shared-ip: "minecraft-stoneblock4"

    mcbackup:
      enabled: true

      image:
        repository: itzg/mc-backup
        tag: latest
        pullPolicy: IfNotPresent

      initialDelay: 2m
      backupInterval: "2h"
      pauseIfNoPlayers: "true"
      pruneBackupsDays: 7

      rconRetries: 5
      rconRetryInterval: 10s

      excludes: "*.jar,cache,logs"
      
      backupMethod: tar
      destDir: /backups
      linkLatest: "true"
      compressMethod: "gzip"
      zstdParameters: "-3 --long=25 --single-thread"

      resources:
        requests:
          memory: 512Mi
          cpu: 500m

      persistence:
        storageClass: "longhorn-single-replica"
        backupDir:
          enabled: true
          Size: 75Gi
          accessModes:
            - ReadWriteOnce
        
    resources:
      requests:
        memory: 12Gi
        cpu: 3000m
      limits:
        memory: 14Gi
        cpu: 6000m