---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: kube-prometheus-stack
  interval: 30m
  path: ./monitoring/kube-prometheus-stack/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: monitoring
  wait: true
  postBuild:
    substitute:
      APP: kube-prometheus-stack
      HOSTNAME: grafana.${DOMAIN}
