---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: games
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: games
  interval: 30m
  path: ./kubernetes/apps/games
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
    namespace: flux-system
  postBuild:
    substitute:
      NAMESPACE: games
      DOMAIN: ${DOMAIN}
