---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: longhorn
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: longhorn
      app.kubernetes.io/component: storage
  interval: 30m
  path: ./kubernetes/storage/longhorn/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: longhorn-system
  wait: true
  postBuild:
    substitute:
      APP: longhorn
      HOSTNAME: longhorn.${DOMAIN}
