---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: network
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: network
  interval: 30m
  path: ./kubernetes/network
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substitute:
      NAMESPACE: network
      DOMAIN: ${DOMAIN}
