---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: storage
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: storage
  interval: 30m
  path: ./storage
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: network
  postBuild:
    substitute:
      NAMESPACE: longhorn-system
      DOMAIN: ${DOMAIN}
